.about {
    padding-top: 90px;
    padding-bottom: 110px;
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #333333;
        margin-bottom: 45px;
        &__top {
            font-size: 24px;
            @include kaushan;
            font-weight: 400;
        }
        &__middle {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
            @include mons;
            margin-top: -10px;
            margin-bottom: 30px;
        }
        &__line {
            width: 60px;
            height: 3px;
            background-color: #f38181;
        }
    }
    .description {
        text-align: center;
        font-size: 15px;
        font-family: Roboto;
        font-weight: 400;
        color: #999999;
        margin-bottom: 100px;
    }
    .imagebox {
        display: flex;
        justify-content: space-between;
        &__item {
            transition: 0.3s ease-in-out;
            position: relative;
            padding-left: 0;
            padding-right: 0;
            max-width: 360px;
        }
        &__item:hover {
            transform: translate(-10px, -10px);
            box-shadow: 10px 10px 1px 0px #95e1d3;
        }
        &__item:hover::after {
            content: 'SUPER TEAM';
            font-size: 18px;
            position: absolute;
            z-index: 3;
            top:120px;
            left:120px;
            text-align: center;
            color:white;
            font-weight: bold;

        }
        &__item:hover::before {
            content: '';
            top:0;
            bottom:0;
            left:0;
            right:0;
            position: absolute;
            background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, 
            rgba(243, 129, 129, 0.8) 100%);
            z-index: 2;
        }
    }
}