.header {
    padding-top:28px;
    padding-bottom:28px;
    background: url(../images/header_bck.jpg) no-repeat center;
    background-size: cover;
    position:relative;
    &::before {
        content: '';
        top:0;
        left:0;
        right:0;
        bottom:0;
        position: absolute;
        background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, 
        rgba(243, 129, 129, 0.9) 100%);
    }
    .logo {
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
    }
    .menu {
        padding-top: 10px;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        &__toggle {
            display: none;
            font-size: 42px;
            color:white;
            list-style-type: none;
        }
        &__item {
            position: relative;
            list-style-type: none;
            color:white;
            &:hover {
                color:#f8cf88;
            }
            &:hover::before {
                content: '';
                position: absolute;
                width:95%;
                height:2px;
                bottom:-5px;
                left:2.5%;
                background-color: #f8cf88;
            }
        }
    }
    .menu-show {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
        font-size: 20px;
    }
    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:white;
        margin-top: 160px;
        margin-bottom: 100px;
        &__top {
            @include kaushan;
            font-size: 76px;
            font-weight: 400;
        }
        &__middle {
            font-size: 150px;
            @include mons;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 140px;
        }
        &__line {
            height: 2px;
            width:60px;
            background-color: #fff;
            margin-top: 40px;
            margin-bottom: 50px;
        }
        &__button {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 16px 33px;
            border:1.5px solid white;
            cursor: pointer;
        }
    }
    .slider {
        color:black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__item {
            &:hover div::before{
                content: '';
                position: absolute;
                top:0;
                left:0;
                height: 3px;
                width:100%;
                background-color:#f38181;
            }
            div {
                position: relative;
                width:100%;
                height: 3px;
                background-color: #fff;
                margin-bottom: 8px;
            }
            div::before {
                content: '';
                width:0;
                height: 3px;
                background-color: #f38181;
                transition: 0.4s ease-in-out;
            }
            p {
                text-transform: uppercase;
                font-size: 16px;
                span {
                    font-size: 24px;
                    margin-right: 8px;
                }
            }
            cursor: pointer;
            color:white;
            width:23%;
        }
    }
    .header-nav {
        display: flex;
        justify-content: flex-end;
    }
}
