.service {
    padding-top: 110px;
    padding-bottom: 120px;
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #333333;
        margin-bottom: 45px;
        &__top {
            font-size: 24px;
            @include kaushan;
            font-weight: 400;
        }
        &__middle {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
            @include mons;
            margin-top: -10px;
            margin-bottom: 30px;
        }
        &__line {
            width: 60px;
            height: 3px;
            background-color: #f38181;
        }
    }
    .services-list {
        display: flex;
        justify-content: space-between;
        &__item {
            .service-img {
                margin-top: 10px;
                margin-right: 8px;
                padding: 0 !important;
            }
            .service-text {
                p:nth-child(1) {
                    font-size: 15px;
                    @include mons;
                    font-weight: bold;
                    color: #313131;
                    text-transform: uppercase;
                }
            }
            .service-text:last-child {
                font-family: 'Roboto', sans-serif;
                color: #999999;
                font-size: 14px;
            }  
        }
    }
    .services-list:nth-child(2) {
        padding-bottom: 40px !important;
        padding-top: 10px;
        border-bottom:1px solid rgb(211, 209, 209);
    }
    .services-list:nth-child(3) {
        padding-top: 40px !important;
    }
}