<section class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 main-text">
                <p class="main-text__top">What we do</p>
                <p class="main-text__middle">Story about us</p>
                <div class="main-text__line"></div>
            </div>
        </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>
            </div>
        <div class="row imagebox">
            <div class="col-xl-4 imagebox__item">
            </div>
            <div class="col-xl-4 imagebox__item">   
            </div>
            <div class="col-xl-4 imagebox__item"> 
            </div>
        </div>
    </div>
</section>