<section class="about" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 main-text">
                <p class="main-text__top">What we do</p>
                <p class="main-text__middle">Story about us</p>
                <div class="main-text__line"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
        </div>
        <div class="row imagebox justify-content-around">
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-8 col-10 imagebox__item">
                <img src="images/about1.png" alt="about1" class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-8 col-10 imagebox__item" >   
                <img src="images/about2.png" alt="about2" class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-8 col-10 imagebox__item" adaptive="about-img"> 
                <img src="images/about3.png" alt="about3" class="img-fluid">
            </div>
        </div>
    </div>
</section>