<section class="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 main-text">
                <p class="main-text__top">Our stories</p>
                <p class="main-text__middle">Latest blog</p>
                <div class="main-text__line"></div>
            </div>
        </div>
        <div class="row blog-box">
            <div class="col-xl-4 col-lg-4 col-md-4 blog-post">
                <div class="blog-post__image">
                    <a href="#"><img src="images/blog-image1.png" alt="blog-image-1" class="img-fluid"></a>
                    <div class="blog-post__date">
                        <p>14</p>
                        <p>Jan</p>
                    </div>
                </div>
                <p class="blog-post__name"><a href="#">Lorem ipsum dolor sit amet</p></a>
                <p class="blog-post__content">Consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt 
                    ut labore et dolore magna aliqua.
                </p>
                <div class="blog-post__line"></div>
                <div class="blog-post__icons">
                    <p style="margin-right: 10px;"><i class="fas fa-eye"></i> 184</p>
                    <p><i class="far fa-comment-dots"></i> 23</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 blog-post">
                <div class="blog-post__image">
                    <a href="#"><img src="images/blog-image2.png" alt="blog-image-1" class="img-fluid"></a>
                    <div class="blog-post__date">
                        <p>9</p>
                        <p>Jan</p>
                    </div>
                </div>
                <p class="blog-post__name"><a href="#">Lorem ipsum dolor sit amet</p></a>
                <p class="blog-post__content">Consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt 
                    ut labore et dolore magna aliqua.
                </p>
                <div class="blog-post__line"></div>
                <div class="blog-post__icons">
                    <p style="margin-right: 10px;"><i class="fas fa-eye"></i> 124</p style="margin-right: 10px;">
                    <p><i class="far fa-comment-dots"></i> 11</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 blog-post">
                <div class="blog-post__image">
                    <a href="#"><img src="images/blog-image3.png" alt="blog-image-1" class="img-fluid"></a>
                    <div class="blog-post__date">
                        <p>30</p>
                        <p>Feb</p>
                    </div>
                </div>
                <p class="blog-post__name"><a href="#">Lorem ipsum dolor sit amet</a></p>
                <p class="blog-post__content">Consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt 
                    ut labore et dolore magna aliqua.
                </p>
                <div class="blog-post__line"></div>
                <div class="blog-post__icons">
                    <p style="margin-right: 10px;"><i class="fas fa-eye"></i> 143</p>
                    <p><i class="far fa-comment-dots"></i> 15</p>
                </div>
            </div>
        </div>
    </div>
</section>