<section class="design">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 main-text">
                <p class="main-text__top">For all devices</p>
                <p class="main-text__middle">Unique design</p>
                <div class="main-text__line"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-8 devices">
                <div class="devices__item">
                    <img src="images/device1.jpg" alt="devic1" class="img-fluid"> 
                    <img src="images/device2.png" alt="devic2" class="img-fluid iphone">
                </div>
            </div>
        </div>
    </div>
</section>