<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 logo">
                <p>MoGo</p>
            </div>
            <div class="col-xl-6 ml-auto">
                <nav>
                    <ul class="menu list-group">
                        <li class="menu__item"><a href="#">About</a></li>
                        <li class="menu__item"><a href="#">service</a></li>
                        <li class="menu__item"><a href="#">work</a></li>
                        <li class="menu__item"><a href="#">blog</a></li>
                        <li class="menu__item"><a href="#">contact</a></li>
                        <li class="menu__item"><a href="#"></a><i class="fas fa-shopping-cart"></i></li>
                        <li class="menu__item"><a href="#"></a><i class="fas fa-search"></i></li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-xl-8 welcome">
                <p class="welcome__top">Creative Template</p>
                <div class="welcome__middle">
                    <p>Welcome</p> 
                    <p>to MoGo</p>
                </div>
                <div class="welcome__line"></div>
                <p class="welcome__button">Learn More</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 slider">
                <div class="slider__item">
                    <div></div>
                    <p><span>01</span> Intro</p>
                </div>
                <div class="slider__item">
                    <div></div>
                    <p><span>02</span> Work</p>
                </div>
                <div class="slider__item">
                    <div></div>
                    <p><span>03</span> About</p>
                </div>
                <div class="slider__item">
                    <div></div>
                    <p><span>04</span> Contacts</p>
                </div>
            </div>
        </div>
    </div>
</header>