<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3 logo">
                <p>MoGo</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-5 ml-auto">
                <nav class="header-nav">
                    <ul class="menu list-group">
                        <li class="menu__item"><a href="#about">about</a></li>
                        <li class="menu__item"><a href="#service">service</a></li>
                        <li class="menu__item"><a href="#work">work</a></li>
                        <li class="menu__item"><a href="#blog">blog</a></li>
                        <li class="menu__item"><a href="#contact">contact</a></li>
                        <li class="menu__item"><a href="#"></a><i class="fas fa-shopping-cart"></i></li>
                        <li class="menu__item"><a href="#"></a><i class="fas fa-search"></i></li>
                    </ul>
                    <div class="menu__toggle"><i class="fas fa-bars"></i></div>
                </nav>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 welcome">
                <p class="welcome__top">Creative Template</p>
                <div class="welcome__middle">
                    <p>Welcome</p> 
                    <p>to MoGo</p>
                </div>
                <div class="welcome__line"></div>
                <p class="welcome__button">Learn More</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 slider">
                <div class="slider__item">
                    <div></div>
                    <p><a href="#header"><span>01</span> Intro</a></p>
                </div>
                <div class="slider__item">
                    <div></div>
                    <p><a href="#work"><span>02</span> Work</a></p>
                </div>
                <div class="slider__item">
                    <div></div>
                    <p><a href="#about"><span>03</span> About</a></p>
                </div>
                <div class="slider__item">
                    <div></div>
                    <p><a href="#contacts"><span>04</span> Contacts</a></p>
                </div>
            </div>
        </div>
    </div>
</header>