<section class="logos">
    <div class="container">
        <div class="row logos__row">
            <div class="col-xl-2 logos__item"><img src="images/logos_1.png" alt="logos-1"></div>
            <div class="col-xl-2 logos__item"><img src="images/logos_2.png" alt="logos-2"></div>
            <div class="col-xl-2 logos__item"><img src="images/logos_3.png" alt="logos-3"></div>
            <div class="col-xl-2 logos__item"><img src="images/logos_4.png" alt="logos-4"></div>
            <div class="col-xl-2 logos__item"><img src="images/logos_5.png" alt="logos-5"></div>
            <div class="col-xl-2 logos__item"><img src="images/logos_6.png" alt="logos-6"></div>
        </div>
    </div>
</section>