<section class="logos">
    <div class="container">
        <div class="row logos__row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 logos__item">
                <img src="images/logos_1.png" alt="logos-1" class="img-fluid">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 logos__item">
                <img src="images/logos_2.png" alt="logos-2" class="img-fluid">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 logos__item">
                <img src="images/logos_3.png" alt="logos-3" class="img-fluid">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 logos__item">
                <img src="images/logos_4.png" alt="logos-4" class="img-fluid">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 logos__item">
                <img src="images/logos_5.png" alt="logos-5" class="img-fluid">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 logos__item">
                <img src="images/logos_6.png" alt="logos-6" class="img-fluid">
            </div>
        </div>
    </div>
</section>