<section class="people_say">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 main-text">
                <p class="main-text__top">Happy Clients</p>
                <p class="main-text__middle">What people say</p>
                <div class="main-text__line"></div>
            </div>
        </div>

        <div class="row client_row ">
            <div class="col-xl-6 client">
                <img src="images/client-1.png" width="110px" alt="client-1" class="client__img">
                <div class="client-text">
                    <p class="client-text__name">Matthew Dix</p>
                    <p class="client-text__position">Graphic Design</p>
                    <div class="client-text__line"></div>
                    <p class="client-text__comment">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 client">
                <img src="images/client-2.png" width="110px" alt="client-2" class="client__img">
                <div class="client-text">
                    <p class="client-text__name">Matthew Dix</p>
                    <p class="client-text__position">Graphic Design</p>
                    <div class="client-text__line"></div>
                    <p class="client-text__comment">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim.
                    </p>
                </div>
            </div>
        </div>

        <div class="row client_row">
            <div class="col-xl-6 client">
                <img src="images/client-3.png" width="110px" alt="client-3" class="client__img">
                <div class="client-text">
                    <p class="client-text__name">Matthew Dix</p>
                    <p class="client-text__position">Graphic Design</p>
                    <div class="client-text__line"></div>
                    <p class="client-text__comment">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 client">
                <img src="images/client-4.png"width="110px"  alt="client-4" class="client__img">
                <div class="client-text">
                    <p class="client-text__name">Matthew Dix</p>
                    <p class="client-text__position">Graphic Design</p>
                    <div class="client-text__line"></div>
                    <p class="client-text__comment">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim.
                    </p>
                </div>
            </div>
        </div>
    </div>        
</section>