<section class="pre_footer">
    <div class="container">
        <div class="row pre-footer-box">
        <div class="col-xl-5 col-lg-10 col-md-10 col-sm-12 col-12 contacts">
            <div class="contacts__logo">MoGo</div>
            <div class="contacts__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. 
            </div>
            <div class="contacts__subscribes">
                <p class="subscribes-count"><span>15k</span> followers</p>
                <div class="subscribes-line"></div>
                <div class="subscribes-follow">
                    Follow Us:
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px; 
                    margin-left: 15px;">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px;">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px;">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px;">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px;">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px;">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px;">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a href="#" style="color:#95e1d3 !important; font-size: 18px; margin-right: 10px;">
                        <i class="fab fa-tumblr"></i>
                    </a>
              </div>
            </div>
            <div class="contacts__sand-mail">
                <form action="#" method="post">
                    <div class="email-input-area">
                        <input type="email" name="email" id="email" placeholder="Your Email...">
                        <input type="submit" value="Subscribe" name="submit"> 
                    </div>
                </form>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-10 blogs">
            <p class="blogs__top-text">Blogs</p>
            <div class="blog-post">
                <img src="images/footer-blog1.png" alt="blog1" class="img-fluid">
                <div class="blog-post__text">
                    <p class="post-name">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing
                    </p>
                    <p class="post-date">Jan 9, 2016</p>
                </div>
            </div>
            <div class="blog-post">
                <img src="images/footer-blog2.png" alt="blog1" class="img-fluid">
                <div class="blog-post__text">
                    <p class="post-name">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing
                    </p>
                    <p class="post-date">Jan 9, 2016</p>
                </div>
            </div>
            <div class="blog-post">
                <img src="images/footer-blog3.png" alt="blog1" class="img-fluid">
                <div class="blog-post__text">
                    <p class="post-name">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing
                    </p>
                    <p class="post-date">Jan 9, 2016</p>
                </div>
            </div>
        </div> 

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-8 col-8 instagram">
            <p class="instagram__name">instagram</p>
            <div class="instagram__images">
                <img src="images/foot-ist1.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist2.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist3.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist4.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist5.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist6.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist7.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist8.png" alt="fot-inst-img" class="img-fluid">
                <img src="images/foot-ist9.png" alt="fot-inst-img" class="img-fluid">
            </div>
            <p class="instagram__view-more"><a href="#">View more photos</a></p>
        </div>
    </div>
    </div>
</section>