<section class="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 main-text">
                <p class="main-text__top">We work with</p>
                <p class="main-text__middle">Amazing Services</p>
                <div class="main-text__line"></div>
            </div>
        </div>
        <div class="row services-list">
            <div class="col-xl-4 services-list__item">
                <div class="row">
                    <div class="col-xl-1 service-img">
                        <img src="images/service1.png" alt="serv1" >
                    </div>
                    <div class="col-xl-10 service-text">
                        <p>Photography</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 services-list__item">
                <div class="row">
                    <div class="col-xl-1 service-img">
                        <img src="images/service2.png" alt="serv1" >
                    </div>
                    <div class="col-xl-10 service-text">
                        <p>web design</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 services-list__item">
                <div class="row">
                    <div class="col-xl-1 service-img">
                        <img src="images/service3.png" alt="serv1" >
                    </div>
                    <div class="col-xl-10 service-text">
                        <p>creativity</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row services-list">
            <div class="col-xl-4 services-list__item">
                <div class="row">
                    <div class="col-xl-1 service-img">
                        <img src="images/service4.png" alt="serv1" >
                    </div>
                    <div class="col-xl-10 service-text">
                        <p>seo</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 services-list__item">
                <div class="row">
                    <div class="col-xl-1 service-img">
                        <img src="images/service5.png" alt="serv1" >
                    </div>
                    <div class="col-xl-10 service-text">
                        <p>css/html</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 services-list__item">
                <div class="row">
                    <div class="col-xl-1 service-img">
                        <img src="images/service6.png" alt="serv1" >
                    </div>
                    <div class="col-xl-10 service-text">
                        <p>digital</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>