<section class="team">
    <div class="container">
        <div class="row team__row">

            <div class="team-left-chevron slide-nav">
                <i class="fas fa-chevron-left"></i>
            </div>  

            <div class="team-slider ">
                <div class="team-slider__wrapper">

                    <div class="team-slider__item row" adaptive="first-slide">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                            <div class="team__img"><img src="images/team-img.svg" alt="team-img"></div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="team-text">
                                <p class="team-text__top">“Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud
                                    exercitation.”
                                </p>
                                <div class="signature">
                                    <div class="signature__line"></div>
                                    <p class="signature__name">Jon Doe</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="team-slider__item row " adaptive="second-slide">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                            <div class="team__img"><img src="images/team-img.svg" alt="team-img"></div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="team-text">
                                <p class="team-text__top">“Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud
                                    exercitation.”
                                </p>
                                <div class="signature">
                                    <div class="signature__line"></div>
                                    <p class="signature__name">Mark Vazovski</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="team-slider__item row" adaptive="third-slide">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                            <div class="team__img"><img src="images/team-img.svg" alt="team-img"></div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                            <div class="team-text">
                                <p class="team-text__top">“Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud
                                    exercitation.”
                                </p>
                                <div class="signature">
                                    <div class="signature__line"></div>
                                    <p class="signature__name">Alex Ford</p>
                                </div>
                            </div>
                        </div>
                    </div>
    

                </div>
            </div>  

            <div class="team-right-chevron slide-nav">
                <i class="fas fa-chevron-right"></i>
            </div> 

        </div>
    </div>
</section>