<section class="testiomonials">
    <div class="container">
        <div class="row testimonials__row">

            <div class="testimonials-left-chevron slide-nav">
                <i class="fas fa-chevron-left"></i>
            </div>  

            <div class="testimonials-slider col-xl-12">
                <div class="testimonials-slider__wrapper">

                    <div class="testimonials-slider__item row">
                        <div class="col-xl-3">
                            <div class="testimonials__img"><img src="images/testimonials-img.png" alt="testimonials-img"></div>
                        </div>
                        <div class="col-xl-9">
                            <div class="testimonials-text">
                                <p class="testimonials-text__top">“Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud
                                    exercitation.”
                                </p>
                                <div class="signature">
                                    <div class="signature__line"></div>
                                    <p class="signature__name">Jon Doe</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-slider__item row">
                        <div class="col-xl-3">
                            <div class="testimonials__img"><img src="images/testimonials-img.png" alt="testimonials-img"></div>
                        </div>
                        <div class="col-xl-9">
                            <div class="testimonials-text">
                                <p class="testimonials-text__top">“Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud
                                    exercitation.”
                                </p>
                                <div class="signature">
                                    <div class="signature__line"></div>
                                    <p class="signature__name">Mark Vazovski</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-slider__item row">
                        <div class="col-xl-3">
                            <div class="testimonials__img"><img src="images/testimonials-img.png" alt="testimonials-img"></div>
                        </div>
                        <div class="col-xl-9">
                            <div class="testimonials-text">
                                <p class="testimonials-text__top">“Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud
                                    exercitation.”
                                </p>
                                <div class="signature">
                                    <div class="signature__line"></div>
                                    <p class="signature__name">Alex Ford</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>  

            <div class="testimonials-right-chevron slide-nav">
                <i class="fas fa-chevron-right"></i>
            </div> 

        </div>
    </div>
</section>