@import "../../bower_components/normalize-css/normalize.css";
body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
@mixin kaushan {
    font-family: 'Kaushan Script', cursive;
}
@mixin mons {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none !important;
    color: white;
    &:hover {
        color:white;
    }
}
@import 'partial/header.scss';

@import 'partial/about.scss';

@import 'partial/facts.scss';

@import 'partial/services.scss';

@import 'partial/design.scss';

@import 'partial/wedo.scss';

@import 'partial/team.scss';

@import 'partial/main_team.scss';

@import 'partial/logos.scss';

@import 'partial/our_work.scss';

@import 'partial/testimonials.scss';

@import 'partial/people_say.scss';